.pulse-default {
    transform: scale(1);
    box-shadow: 0 0 0 0 $default;
    animation: pulse-default 2s infinite;
}
@keyframes pulse-default {
	0% {
		transform: scale(0.98);
		box-shadow: 0 0 0 0 rgba($default, 0.7);
	}
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba($default, 0);
	}
	100% {
		transform: scale(0.98);
		box-shadow: 0 0 0 0 rgba($default, 0);
	}
}